<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".prueba"
            android:exported="false"
            android:label="@string/title_activity_prueba"
            android:theme="@style/Theme.Climby">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Test"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.Climby">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Text"
            android:exported="false"
            android:label="@string/title_activity_text"
            android:theme="@style/Theme.Climby">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>